<!-- Text for Search -->
<div id="kbsearch-container">
  <input type="text" id="kb-search-input" placeholder="KB search: find the knowledge..." autofocus onchange="searchKB(this);">
</div>

<!-- Script pointing to lunr-script.js -->
<script type="text/javascript" src="../scripts/lunr.js"></script>

<!-- Configuration -->
<script>
  var doc, idx;
  
  window.onload = function() {
    doc = {
      title: document.title.split('-')[0],
      content: document.querySelector('.entry').innerText
    }

    idx = lunr(function () {
      this.ref('title')
      this.field('content')

      this.add(doc)    
    })   
  }
  
  function searchKB(s) {
      var els = document.querySelector('.entry').children;

      for (var el of els) {
        loopEls(el, s);
      }
  }

  function loopEls(el, s) {
    if (el.classList.contains('kbsearch-result'))
      el.classList.remove('kbsearch-result');

    if (el.innerText.includes(s.value)) {
      el.classList.add('kbsearch-result');
      el.focus();
    }

    for (var c in el.childNodes) {
      loopEls(c);
    }
  }
</script>

<style>

  #kb-search-container {
      max-width: 100%;
      font-family: $helvetica;
  }

  input[type=text] {

      outline: none;
      padding: 15px 25px;
      margin: 5px 1px 3px 0px;
      border: none;
      width: 100%;
      border-radius: 1px;
      box-shadow: 0 1px 0px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

  }

  input[type=text]:hover {
      outline: none;
      border: none;
      margin: 5px 1px 3px 0px;
      padding: 15px 25px;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
       box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  }

  input[type=text]:focus {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      margin: 5px 1px 3px 0px;
      padding: 15px 25px;
      border: none;
      outline: none;
          -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
  }

  @media screen and (max-width: 600px) {
    input[type=text]{
            width: 100%;
            box-sizing: border-box;
    } 
  }
</style>
